{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Text Field</title>
</head>
<body>
{% block content %}
    <form method="post">
        {% csrf_token %}
        <label>
        <textarea name="latex_text">{{ template.latex_text }}</textarea>
        </label>
        <button type="submit">Помощь</button>
        <button type="submit">Настройки</button>
    </form>
<form method="post" action="{% url 'save_and_convert' %}">
    <button type="submit">Сохранить</button>
    </form>
{% endblock %}
</body>
</html>